@import url('https://fonts.googleapis.com/css2? family= Rajdhani:wght@500 & display=swap');

*{
  margin: 0;
  padding: 0;
  
}

html{
  font-size: 62.5%;
}

body {
  font-family: 'Rajdhani', sans-serif;
  background-color: #171133;
  color: #d4be99;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

